$check = 51px 53px -51px -53px 15px 14px 113px 70px './../img/sprites.png';
$icon-li-active = 0px 28px 0px -28px 26px 25px 113px 70px './../img/sprites.png';
$icon-li = 26px 28px -26px -28px 26px 25px 113px 70px './../img/sprites.png';
$icon-play-active = 0px 53px 0px -53px 17px 17px 113px 70px './../img/sprites.png';
$icon-play = 17px 53px -17px -53px 17px 17px 113px 70px './../img/sprites.png';
$icon-tt-active = 52px 28px -52px -28px 26px 25px 113px 70px './../img/sprites.png';
$icon-tt = 78px 28px -78px -28px 26px 25px 113px 70px './../img/sprites.png';
$info = 34px 53px -34px -53px 17px 17px 113px 70px './../img/sprites.png';
$social-media = 0px 0px 0px 0px 113px 28px 113px 70px './../img/sprites.png';
