// jeet

jeet['gutter'] = 2
jeet['parent-first'] = false

// measures

bp-max-content-width = 1140px
bp-max-columns = 12

bp-spacing = 30px
bp-fill = 30px

// font sizes

xxs-font-size = 12px
xs-font-size = 13px
s-font-size = 14px
d-font-size = 16px
m-font-size = 18px
l-font-size = 21px
xl-font-size = 38px
xxl-font-size = 52px

fontSizes = {
	base: s-font-size

	, title: l-font-size
	, title-sm-hero: 31px
	, title-m-hero: xl-font-size
	, title-xl-hero: 46px
	, title-hero: xxl-font-size
	, title-sm-hero-subtitle: s-font-size
	, title-m-hero-subtitle: m-font-size
	, title-hero-subtitle: l-font-size
	, title-home: xl-font-size
	, title-home-s: 27px
	, title-sitemap: s-font-size
	, title-home-article: xxs-font-size
	, title-solution: m-font-size
	, title-solution-s: 15px
	, title-benefit: m-font-size
	, title-location: 30px

	, subtitle-home: m-font-size
	, subtitle-home-s: s-font-size

	, button-request-demo: d-font-size
	, button-try-free: d-font-size
	, button-walk-through: d-font-size
	, button-walk-through-s: xxs-font-size
	, button-integrations: d-font-size
	, button-sm-carousel: xxs-font-size
	, button-s-carousel: s-font-size
	, button-carousel: d-font-size

	, menu-anchor: xxs-font-size
	, menu-sm-anchor: d-font-size

	, extra-anchor: xxs-font-size
	, extra-sm-button: 11px
	, extra-lg-button: xxs-font-size

	, carousel-sm-anchor: xxs-font-size
	, client-sm-label: 10px
	, client-label: s-font-size

	, carousel-anchor: xs-font-size

	, solution-description: s-font-size
	, solution-description-xxs: xxs-font-size
	, solution-anchor: s-font-size
	, solution-anchor-s: xxs-font-size
	, solution-anchor-after: xs-font-size

	, product-info-description: s-font-size
	, product-info-description-xxs: xxs-font-size
	, product-info-anchor: s-font-size
	, product-info-anchor-s: xxs-font-size
	, product-info-anchor-after: xs-font-size

	, testimony-description: d-font-size
	, testimony-description-s: s-font-size

	, home-article-description: s-font-size
	, home-article-anchor: s-font-size
	, home-article-anchor-after: xs-font-size

	, integrations-anchor: s-font-size

	, walk-through-separator: d-font-size

	, sitemap-anchor: xxs-font-size
	, sitemap-label: xxs-font-size
	, copyright: xxs-font-size

}

// colors

bp-xxs-gray = #EFEFEF
bp-xs-gray = #DDDDDD
bp-s-gray = #C7C7C7
bp-d-gray = #AEAEAE
bp-m-gray = #878787
bp-l-gray = #505050
bp-xl-gray = #191919

bp-xxs-blue = #00ADEE
bp-xs-blue = #40A8DE
bp-s-blue = #1E3954
bp-d-blue = #0F2942
bp-l-blue = #160E44

bp-s-green = #C6DF51
bp-d-green = #ACC537


bp-xxs-orange = #FBB116
bp-orange = #F3A000

bp-extra-fixed = #f3a027

bp-red = #F0453B

bp-white = #FFFFFF

colors = {
	body-background: bp-white
	, body-color: bp-l-blue

	, carousel-background: bp-xxs-blue

	, header-background: bp-s-blue
	, header-color: bp-white
	, header-fixed-background: bp-d-blue

	, title-color: bp-l-blue
	, title-hover: bp-xxs-blue
	, title-sitemap: bp-m-gray
	, title-hero: bp-white
	, title-hero-subtitle: bp-white
	, title-home: bp-l-gray
	, title-home-article: bp-l-gray
	, title-solution: bp-l-gray
	, title-integrations: bp-white

	, subtitle-home: bp-m-gray

	, home-section-solutions: #F9F9F9

	, home-section-alert-correlation: bp-white
	, home-section-alert-correlation-border: bp-xs-gray
	, home-section-alert-correlation-monolith: bp-red

	, home-section-testimonials: #F5F5F5
	, home-section-testimonials-border: bp-xs-gray
	, home-section-testimonials-monolith: bp-xs-blue

	, button-extra-border: bp-white
	, button-extra-hover: bp-white
	, button-extra-active: bp-l-blue

	, button-extra-fixed-background: bp-orange
	, button-extra-fixed-border: bp-orange
	, button-extra-fixed-hover: #FFB11B
	, button-extra-fixed-active: #DF9300

	, button-carousel-background: bp-orange
	, button-carousel-color: #F9F9F9
	, button-carousel-hover: #FFB11B
	, button-carousel-active: #DF9300

	, button-carousel-careers-background: bp-xs-blue

	, button-request-demo-color: bp-white
	, button-try-free-color: bp-xs-blue

	, button-walk-through: bp-xs-blue
	, button-walk-through-border: bp-xs-blue
	, button-walk-through-hover: #47BDFB
	, button-walk-through-active: #3594C5

	, button-integrations: bp-white
	, button-integrations-border: bp-white

	, menu-background: bp-xs-gray
	, menu-mobile: bp-d-blue

	, menu-sm-anchor: bp-white
	, menu-anchor: bp-m-gray
	, menu-anchor-hover: bp-white
	, menu-caret: bp-m-gray
	, menu-caret-hover: bp-white

	, submenu-background: #f9f9f9
	, submenu-color: bp-m-gray
	, submenu-title: bp-red
	, submenu-border: bp-white
	, submenu-anchor-hover: bp-xl-gray

	, extra-anchor-color: bp-s-gray
	, extra-anchor-hover: bp-white
	, extra-anchor-border: bp-white
	, extra-anchor-separator: bp-s-gray

	, carousel-anchor: bp-xs-blue
	, carousel-anchor-hover: #B3DCF2

	, colorline-blue-1: #166294
	, colorline-blue-2: #3084AF
	, colorline-blue-3: bp-xs-blue
	, colorline-orange: bp-orange
	, colorline-red: #F0453B
	, colorline-green: #A9BF43

	, solution-description-color: bp-l-gray
	, solution-anchor: bp-xs-blue
	, solution-anchor-hover: #68BFEC
	, solution-anchor-active: #1379AF

	, product-info-description-color: bp-l-gray
	, product-info-anchor: bp-xs-blue
	, product-info-anchor-hover: #68BFEC
	, product-info-anchor-active: #1379AF

	, integrations-background: bp-d-blue
	, integrations-nav-border: #4D5F71
	, integrations-anchor-active: bp-xxs-orange
	, integrations-anchor: bp-m-gray
	, integrations-anchor-hover: bp-s-gray
	, integration-background: #142D47

	, learn-more-article-border: bp-xs-gray
	, home-article-description: bp-l-gray
	, home-article-anchor: bp-xs-blue
	, home-article-anchor-hover: #68BFEC
	, home-article-anchor-active: #1379AF

	, testimony-description: bp-m-gray
	, testimony-author: #666666
	, testimony-author-role: #666666

	, walk-through-border: bp-s-gray
	, walk-through-monolith: bp-d-green
	, walk-through-background: bp-xxs-orange
	, walk-through-separator: bp-m-gray

	, footer-background: bp-xxs-gray
	, footer-border: bp-s-gray

	, sitemap-anchor-color: bp-m-gray
	, sitemap-label: bp-m-gray
	, sitemap-anchor-hover: bp-xl-gray

	, copyright-color: bp-d-gray
	, copyright-monolith: bp-xxs-orange
	, copyright-anchor: bp-m-gray
	, copyright-anchor-hover: bp-xl-gray

	, benefits-color: bp-white

	, careers-jobs-background: #F5F5F5
	, careers-jobs-monolith: bp-xs-blue
}

// rupture

rupture.scale = 0	240px	290px	320px	360px	480px	540px	640px	768px	850px	960px	1024px	1280px	1440px	1360px	1440px	1600px	1920px
//              └──┬─┘└───┬──┘└──┬───┘└──┬───┘└──┬───┘└──┬───┘└──┬───┘└──┬───┘└──┬───┘└──┬───┘└──┬────┘└──┬───┘└──┬───┘└──┬───┘└──┬───┘└──┬───┘└──┬───┘
//                 1      2      3       4       5       6       7       8       9       10      11       12      13      14      15      16      17
