
// colorline component

.colorline
	size 100% 6px
	+above(11)
		size 100% 7px
	background-image: linear-gradient(90deg,
		colors.colorline-blue-1 0%,
		colors.colorline-blue-1 16%,
		colors.colorline-blue-2 16%,
		colors.colorline-blue-2 32%,
		colors.colorline-blue-3 32%,
		colors.colorline-blue-3 48%,
		colors.colorline-orange 48%,
		colors.colorline-orange 64%,
		colors.colorline-red 64%,
		colors.colorline-red 80%,
		colors.colorline-green 80%,
		colors.colorline-green 100%)
