// integration component

.integration, .coming-soon-integration
	span(1/2)
	size false 76px
	text-align center
	padding 0 4px
	>span
		background: colors.integration-background
		display inline-block
		size 100% 100%
	+above(11)
		span(1/5)
		margin-bottom 8px
		size false 115px
	+below(11)
		span(1/4)
		margin-bottom 8px
		size false 115px
	+below(8)
		span(1/3)
	+below(6)
		span(1/2)
	+below(5)
		height 90px
.home-section--integrations .integration
	svg,path,polygon,rect,circle
		fill #b9c0c8
.integration__image-container
	size 100%
	padding 0 30px
	table-layout: fixed;
	+below(5)
		padding 0 15px
	+below(4)
		padding 0
.integration__image
	size 50% auto
	margin 0 auto
	+above(5)
		size auto

.list--integrations
	margin-left -5px
	margin-right -5px

.coming-soon-integrations--section .list--integrations
	opacity .6	
