// title component

.title
	margin bp-spacing 0

.title--main
	font-size: fontSizes.title

.title__anchor
	display block
	color: colors.title-color

	&:hover
		color: colors.title-hover

// hero section title

.title--hero
	color: colors.title-hero
	font-size: fontSizes.title-sm-hero
	font-weight 600
	line-height 38px
	margin 46px 0 7px 0

	+above(6)
		font-size: fontSizes.title-m-hero
		line-height 40px

	+above(8)
		font-size: fontSizes.title-xl-hero
		line-height 56px

	+above(10)
		margin 0 0 12px 0
		font-size: fontSizes.title-hero
		line-height 68px

.title--hero-subtitle
	margin 0 0 17px 0
	color: colors.title-hero-subtitle
	font-size: fontSizes.title-sm-hero-subtitle
	font-weight 400
	line-height 21px

	+above(6)
		font-size: fontSizes.title-m-hero-subtitle

	+above(10)
		margin 0 0 31px 0
		font-size: fontSizes.title-hero-subtitle
		line-height 32px

// home page title

.title--home
	margin 0 0 13px 0
	color: colors.title-home
	font-size: fontSizes.title-home-s
	font-weight 300
	text-align center
	line-height 35px

	+above(11)
		font-size: fontSizes.title-home
		margin 0 0 11px 0

.title--home-testimonials
	margin 0

.title--home-walk-through
	+above(11)
		margin 0 0 12px 0

.title--home-subtitle
	margin 0
	color: colors.subtitle-home
	font-size: fontSizes.subtitle-home-s
	font-weight 400
	text-align center
	line-height 21px
	padding 0 36px

	+above(11)
		line-height 35px
		font-size: fontSizes.subtitle-home
		padding 0



// solution title on home page

.title--solution
&.title--product-info
	font-weight 700
	color: colors.title-solution
	line-height 20px
	font-size: fontSizes.title-solution-s
	margin -5px 0 7px

	+above(11)
		font-size: fontSizes.title-solution
		margin 0 0 8px 0

// integrations section's title on home page

.title--integrations
	padding 0
	margin-bottom 26px
	color: colors.title-integrations
	padding 0 27px
	+below(12)
		margin-bottom 26px
		padding 0 27px
	+below(5)
		margin-bottom 29px
// learn-more section's title on home page

.title--learn-more
	margin 0

	+below(8)
		font-size:27px

// home-article title

.title--home-article
	margin 0
	color: colors.title-home-article
	font-size: fontSizes.title-home-article
	font-weight 700
	line-height 30px
	text-transform uppercase

// title on sitemap section on footer

.title--sitemap
	margin 0
	color: colors.title-sitemap
	font-size: fontSizes.title-sitemap
	font-weight bold
	text-align left
	line-height 31px
