// vertical-align component

.vertical-align
	position relative
	display table

.vertical-align--middle
	display table-cell
	vertical-align middle

.vertical-align--bottom
	display table-cell
	vertical-align bottom
