// ABOUT PAGES
// 01. General title About Pages
// 02. Key management section
// 03. Our partners section


// 01. General title About Pages
.title
	&.title--management
		color: bp-l-gray
		font-size: xl-font-size
		font-weight 300
		line-height 35px
		margin: 60px 0
		text-align center
		
		+below(6)
			font-size:l-font-size
			
	&.title--management-name
		font-size:m-font-size
		margin:25px 0 5px 0
		
		+below(8)
			font-size:s-font-size
			margin-top:15px
			
	&.title--management-position
		font-size:m-font-size
		font-weight:400;
		margin:0
		
		+below(8)
			font-size:s-font-size
			
	&.title--ourpartners
		color: #505050
		font-size: 38px
		font-weight: 300
		line-height: 35px
		margin:30px 0 50px 0
		text-align: center


// 02. Key management section
.management
	
	&.management--about
		background-color:#f9f9f9
		
	&.management--partners
		padding:70px 0 120px 0
		
		&:before
			background:#f3a027 none repeat scroll 0 0
			bottom: 0
			content:" "
			display:block
			height: 11px
			left: 0
			margin: 0 auto
			right: 0
			top: 70px
			width: 69px

.key-management__section
	cf()
	width:830px
	margin:0 auto
	+below(9)
		width:540px
	+below(6)
		width:96%
		margin:0 2%
	
.key-management__box
	color bp-m-gray
	text-align center
	width:260px
	margin-right:25px
	float:left
	
	+below(9)
		width:257.5px
	+below(6)
		width:49%
		margin-right:2%

.key-management__boxholder
	display:inline-block
	position:relative
	height:260px
	width:260px
	+below(6)
		width:100%
		height:100%
	
	&:hover
		.overlay
			background:rgba(0,0,0,.75)
			visibility:visible

.overlay
	display:block
	height:100%
	left:0
	position:absolute
	transition:all 0.2s linear 0s
	top:0
	visibility:hidden
	width:100%
	span
		display inline-block
		size 80px 80px
		position absolute
		top 50%
		left 50%
		transform: translate(-40px, -40px)

.key-management__section
	ul
		li
			margin-bottom:40px
			&:nth-child(3)
				margin-right:0
				+below(9)
					margin-right:2%
			&:nth-child(4)
				width:47%
				text-align:right
				margin-right:25px
				+below(9)
					margin-right:0
				.title--management-name
					width:260px
					text-align:center
					display:inline-block
					+below(6)
						width:100%
				.title--management-position
					width:260px
					text-align:center
					display:inline-block
					+below(6)
						width:100%
				+below(9)
					width:49%
					margin-right:0
					text-align:center
			&:nth-child(5)
				width:47%
				text-align:left
				margin-right:0
				.title--management-name
					width:260px
					text-align:center
					display:inline-block
				.title--management-position
					width:260px
					text-align:center
					display:inline-block
				+below(9)
					width:100%
					margin-right:0
					text-align:center
					.title--management-name
						display:block
						width:100%
					.title--management-position
						display:block
						width:100%
				+below(6)
					.key-management__boxholder
						width:230px
						height:230px
				+below(5)
					.key-management__boxholder
						width:210px
						height:210px
				+below(4)
					.key-management__boxholder
						width:160px
						height:160px
			+below(9)
				width:49%
				margin-right:2%
				&:nth-child(2)
					margin-right:0

// 03. Our partners section			
.ourpartners__section
	cf()
	padding:0 30px
	
	ul
		li
			cf()
			
			&:nth-child(2n)
				.ourpartners--left
					float:right
	
.ourpartners--left
	border:1px solid #dddddd
	col(1/2)
	float:left
	margin-right:0
	min-height:305px
	padding-right:0
	width:50%

	img
		display:none

	+below(8)
		text-align:center
		width:100%

.ourpartners--right
	col(1/2)
	border:1px solid #dddddd
	float:left
	margin-right:0
	min-height:305px
	padding:40px
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	width:50%
	
	+below(13)
		padding:30px 40px
		
	+below(8)
		margin-bottom:20px
		min-height:auto
		width:100%

	img
		margin-bottom:15px

	article
		color:bp-m-gray
		font-size:xs-font-size
		line-height:20px
		
		a
			color:bp-xs-blue

.ourpartners--left
	background-size cover
	background-repeat no-repeat
	background-position center center