// Privacy Pages
.privacy-content__section
	.container
		width:754px
		margin:61px auto
		+below(9)
			width:80%
			margin-left:10%
			margin-right:10%
		p
			color:bp-l-gray
			font-size:15px
			margin-bottom:32px
			line-height:32px
			letter-spacing:0.03em
			&.last
				margin-bottom:61px
			&.info
				margin-bottom:34px
			&.date
				color:bp-m-gray
				font-size:s-font-size
				line-height:32px
				margin-bottom:19px
			a
				color:bp-xs-blue
		h4
			font-size:24px
			color:bp-l-gray
			line-height:32px
			margin-top:0
			margin-bottom:12px