// Signup Pages

.signup__section
	.align-right
		text-align:right
		.button-login
			color: bp-xs-gray
			text-transform:uppercase
			font-size:11px
			padding:7px 10px
			border-radius:2px
			border:1px solid bp-d-gray
	.title--signup
		color:bp-l-gray
		font-size:xl-font-size
		font-weight:700
		text-align:center
		margin-bottom:15px
		+below(7)
			font-size:m-font-size
	.sub-title--signup
		color:bp-m-gray
		font-size:m-font-size
		font-weight:500
		text-align:center
		margin-top:0
		+below(7)
			font-size:s-font-size
	.form-container
		width:312px
		margin:0 auto
		padding-bottom:70px
		padding-top:40px
		+below(5)
			width:96%
			margin:0 2%
		.input-field
			margin-bottom:20px
			label
				font-size:xxs-font-size
				color:bp-m-gray
				display:block
				span
					color:#e95c25
			input
				border:2px solid bp-xs-gray
				padding:10px
				width:100%
		.submit-field
			input
				background-color:bp-xs-blue
				color:bp-white
				padding:15px 20px
				text-align:center
				width:100%
				display:block
				text-transform:uppercase
				font-size:xs-font-size
				font-weight:600
		p
			border-top:1px solid bp-xs-gray
			color:bp-m-gray
			font-size:xxs-font-size
			padding-top:20px
			text-align:center
			margin-top:40px
			a
				color:bp-xs-blue
.contact-enquiry__section
	.error-field
		color #e95c25
		display none
