@import "kouto-swiss"

// automatic uses color-fallback() function - http://kouto-swiss.io/docs.html#color-fallback
ks-color-fallback-enabled = true

@import "jeet"

normalize()
box-sizing-reset()

//edit()

@import "./config/_variables"
@import "./config/_mixins"
@import "./config/_sprites"
@import "./config/_resets"

//slick slider
@import "./slick/*"

@import "./components/*"

@import "./pages/*"
